.policy-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 120px auto 20px;
    padding: 30px;
    border-radius: 12px;
    background-color: #111;
    color: #fff;
    gap: 1.5rem
}

.clause {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: 2rem
}

h2 {
    font-size: 1.5rem;
    color: #ddd;
    margin: 0
}

p {
    font-size: 1.1rem;
    color: #bbb;
    line-height: 1.6;
    margin: 0
}

.date {
    text-align: center;
    font-size: 1rem;
    color: #888;
    margin-bottom: 20px
}
