@font-face {
    font-family: Satoshi;
    src: url("Satoshi-Variable-ChAXbpFa.ttf") format("truetype");
    font-display: swap
}

:root {
    line-height: 1.5;
    font-weight: 500;
    color-scheme: light dark;
    color: #fff;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bg-clr-1: #010101;
    --bg-clr-2: #111111;
    --accent-1: #6B5FF6;
    --border-clr-1: #8B8B8B;
    --border-clr-2: #515151;
    --txt-clr-1: #D6D6D6
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-clr-1);
    font-family: Satoshi !important
}

body * {
    font-family: inherit
}

*,
*:after,
*:before {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

body [selectable=true] {
    user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    -webkit-user-select: all !important
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#main {
    width: 100%;
    min-height: 100vh;
    position: relative
}

#mobile-root {
    display: none;
    width: 100%;
}

#mobile-main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: #aab0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-img {
        height: 100px;

        img {
            height: 100%;
        }
    }

    span {
        font-size: 18px;
    }
}

/* Styles for screens less than 1000px */
@media (max-width: 999px) {
    #root {
        display: none;
    }

    #mobile-root {
        display: block;
    }
}